.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background: linear-gradient(325deg, #202016 10%, #747653 30%, #a6a877 70%, #f1f48b 100%);
}

.grass {
    background: linear-gradient(325deg, #041101 10%, #18570a 30%, #39eb11 70%, #e9f6e7 100%);
}

.fire {
    background: linear-gradient(325deg, #140101 10%, #850a0a 30%, #fb1919 70%, #f3a60c 100%);
}

.water {
    background: linear-gradient(325deg, #050226 10%, #0e20e0 30%, #3a65f2 70%, #0be6df 100%);
}

.ice {
    background: linear-gradient(325deg, #07bcf8 10%, #3ec6f4 30%, #86d7f1 70%, #7cdafa 100%);
}

.electric {
    background: linear-gradient(325deg, #04232e 10%, #2b97bb 30%, #86d7f1 70%, #cbeaf4 100%);
}

.ground {
    background: linear-gradient(325deg, #0a0202 10%, #a8b720 30%, #a52a2a 70%, #f7a6a6 100%);
}

.flying {
    background: linear-gradient(325deg, #16b494 10%, #cf92e7 30%, #04efd0 70%, #0c3e3d 100%);

}

.poison {
    background: linear-gradient(325deg, #ebd403 10%, #eded07 30%, #ffee00 70%, #f4f49f 100%);
}

.fighting {
    background: linear-gradient(325deg, #1d010a 10%, #9f0b3c 30%, #9b1d4b 70%, #e94390 100%);
}

.psychic {
    background: linear-gradient(325deg, #1d0114 10%, #ad0c7c 30%, #e77bc7 70%, #f4ddea 100%);
}

.dark {
    background-color: #725847;
}

.rock {
    background: linear-gradient(325deg, #0a0202 10%, #671a1a 30%, #a52a2a 70%, #280505 100%);
}

.bug {
    background: linear-gradient(325deg, #323608 10%, #a8b720 30%, #d7e742 70%, #95a40f 100%);
}

.ghost {
    background: linear-gradient(325deg, #575757 10%, #808080 30%, #cdcccc 70%, #ffffff 100%);
}

.steel {
    background: linear-gradient(325deg, #020202 10%, #313030 30%, #676666 70%, #b7b7b7 100%);
}

.dragon {
    background: linear-gradient(325deg, #f6b911 10%, #398f0b 30%, #ff8000 70%, #00ff99 100%);
}

.fairy {
    background: linear-gradient(325deg, #3b2935 10%, #f9aec7 30%, #c295a4 70%, #f4ddea 100%);
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.8rem 0.8rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(325deg, #000000 0%, #5a5959 30%, #9e9b9b 70%, #000000 100%);
    border: none;
    border-radius: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}